.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.contenido {
  position: absolute;
  top: 35%;
  width: 100%;
}

span {
  text-shadow: 0 0 0.2em #f87, 0 0 0.2em #f87;
}

.imagen {
  padding-left: 20%;
  width: 380px;
  height: 450px;
}

.titulo {
  font-family: "Libre Franklin", sans-serif;
  font-size: 48px;
  color: #fff;
  background-color: #1285ad;
  font-weight: 600;
}

/* .mega {
  font-family: "Libre Franklin", sans-serif;
  font-size: 84px;
  color: #fff;
  font-style: italic;
  font-weight: 800;
} */

.item {
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
}


@media screen and (min-width: 900px) {
  .contenido {
    position: absolute;
    top: 35%;
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .contenido {
    position: absolute;
    top: 40%;
    width: 100%;
  }

  .imagen {
    padding-left: 20%;
    width: 500px;
    height: 480px;
  }
}
