<body>
  <div
    class="h-screen w-full bg-no-repeat bg-cover bg-top bg-fixed"
    style="background-image: url('./../../../assets/banner/fondo.jpg')"
  >
    <div class="grid grid-cols-1">
      <img
        src="./../../../assets/banner/logo.png"
        class="lg:w-28 mx-auto lg:mt-5 xl:w-52 sm:w-32 sm:pt-6 md:w-32 md:pt-6"
        alt=""
        srcset=""
      />
    </div>
    <div class="grid grid-cols-1">
      <div class="absolute w-full xl:top-64 lg:top-52 sm:top-72">
        <p-carousel
          [value]="listPosts"
          [numVisible]="1"
          [numScroll]="1"
          [autoplayInterval]="3000"
          [circular]="true"
        >
          <ng-template let-itemPost pTemplate="item">
            <div class="grid lg:grid-cols-3 xl:grid-cols-3 sm:grid-cols-1">
              <!-- Text to left -->
              <div
                class="sm:hidden md:hidden lg:block xl:block lg:font-bold lg:font xl:mt-20 lg:mt-20"
              >
                <div
                  class="grid grid-cols-1"
                  *ngIf="itemPost.infoDesc !== '' && itemPost.valid !== ''"
                >
                  <p class="lg:text-7xl capitalize italic text-slate-50">
                    {{ itemPost.title }}
                  </p>
                  <p class="lg:text-7xl italic text-slate-50">
                    <span class="text-sky-600 text-9xl text-center">
                      {{ itemPost.porcentage }} % <br
                    /></span>
                    {{ itemPost.infoDesc }}
                  </p>
                  <p class="font-light text-2xl pt-3 text-slate-50">
                    {{ itemPost.valid }}
                  </p>
                </div>

                <div
                  class="grid grid-cols-1"
                  *ngIf="itemPost.infoDesc === '' && itemPost.valid === ''"
                >
                  <p
                    class="lg:text-7xl xl:text-9xl capitalize italic text-slate-50"
                  >
                    {{ itemPost.title }}
                  </p>
                </div>
              </div>

              <div
                class="sm:block md:hidden lg:block xl:block xl:mt-20 lg:mt-20 bg-slate-50 border-4 border-yellow-500 lg:rounded-full xl:rounded-full text-center"
              >
                <img
                  [src]="itemPost.archiveJoin[0]!.url"
                  [alt]="itemPost.archiveJoin[0]!.filename"
                  class="sm:w-96 sm:h-60 lg:rounded-3xl mx-auto lg:w-96 lg:h-96"
                />
              </div>

              <!-- Text to rigth -->
              <div
                class="sm:hidden md:hidden lg:block xl:block xl:mt-20 lg:mt-20 mx-auto"
              >
                <p class="titulo">{{ itemPost.description }}</p>
                <p class="item">
                  <span class="font-bold"> Item:</span>
                  {{ itemPost.description }}
                  <br />
                  <span class="font-bold"> Precio:</span>
                  {{ "$ " + itemPost.priceClient }}
                </p>

                <p class="mt-4 mb-2 text-3xl font-bold text-white">
                  Nuestras redes <span class=""> Sociales</span>
                </p>

                <div class="grid grid-cols-3">
                  <a
                    class=""
                    href="https://www.instagram.com/distriuniversal_/?hl=es"
                    target="_blank"
                  >
                    <i
                      class="rounded text-6xl text-pink-700 pi pi-instagram"
                    ></i>
                  </a>
                  <a
                    class=""
                    href="https://www.instagram.com/distriuniversal_/?hl=es"
                    target="_blank"
                  >
                    <i class="text-6xl text-lime-700 pi pi-whatsapp"></i>
                  </a>
                  <a
                    class=""
                    href="https://www.facebook.com/distribuidorauniversalcali/?locale=es_LA"
                    target="_blank"
                  >
                    <i class="text-6xl text-blue-700 pi pi-facebook"></i>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
          <!-- <ng-template pTemplate="footer">
          <p class="text-gray-50 font-extralight">Papeleria Universal</p>
        </ng-template> -->
        </p-carousel>
      </div>
    </div>
  </div>
</body>
