<div class="">
  <img src="../../../assets/banner/fondo.png" alt="" />
  <div class="contenido">
    <p-carousel
      [value]="listPosts"
      [numVisible]="1"
      [numScroll]="1"
      [autoplayInterval]="5000"
      [circular]="true"
    >
      <ng-template let-itemPost pTemplate="item">
        <div class="row">
          <div class="col-4">
            <p class="mega">Productos Destacados</p>
          </div>
          <div class="col-4">
            <img
              [src]="itemPost.archiveJoin[0]!.url"
              [alt]="itemPost.archiveJoin[0]!.filename"
              class="imagen"
            />
          </div>
          <div class="col-4">
            <p class="titulo">{{ itemPost.description }}</p>
            <p class="item">
              <span class="font-bold"> Item:</span> {{ itemPost.description }}
            </p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
