<!-- MIGRACION -->
<body>
  <div
    class="h-screen w-screen bg-no-repeat bg-cover bg-top bg-fixed overflow-hidden"
    style="background-image: url('./../../../assets/banner/fondo.jpg')"
  >
    <!-- LOGO -->
    <div class="grid grid-cols-1">
      <a [routerLink]="['/asesor/arte']">
        <img
          src="../../../../../assets/banner/logo.png"
          class="lg:w-28 mx-auto lg:mt-5 xl:w-52 sm:w-32 sm:pt-6 md:w-28 md:pt-4"
          alt=""
          srcset=""
        />
      </a>
    </div>

    <div class="grid grid-cols-1">
      <div
        class="md:relative sm:absolute w-full xl:top-0 md:top-0 ct:top-0 top-0"
      >
        <p-carousel
          *ngIf="listPosts.length > 0; else spinner"
          [value]="listPosts"
          [numVisible]="1"
          [numScroll]="1"
          [autoplayInterval]="3000"
          [circular]="true"
        >
          <ng-template let-itemPost pTemplate="item">
            <div class="grid md:grid-cols-3 ct:grid-cols-3 sm:grid-cols-1">
              <!-- Text to left -->
              <div class="sm:hidden md:block md:font-bold">
                <!-- DESCUENTOS -->
                <div class="grid grid-cols-1 md:mt-32 ct:mt-44 lg:mt-48">
                  <img
                    src="/assets/img/luis.png"
                    alt=""
                    srcset=""
                    class="md:w-56 md:h-56 ct:w-80 ct:h-80 lg:w-96 lg:h-96 mx-auto"
                  />
                </div>
              </div>

              <div
                class="sm:block ct:block ct:mt-44 md:mt-24 lg:block xl:block lg:mt-48 sm:rounded-full md:rounded-full ct:rounded-full text-center"
              >
              <!-- IMAGEN CENTRAL -->
                <img
                  [src]="itemPost.archiveJoin[0]?.url"
                  [alt]="itemPost.archiveJoin[0]?.filename"
                  class="mx-auto rounded-3xl sm:w-96 sm:h-60 md:w-96 md:h-72  ct:w-96 ct:h-80 lg:w-96 lg:h-96"
                />
              </div>

              <!-- Text to rigth -->
              <div
                class="sm:hidden ct:block lg:block ct:ml-8  lg:mx-8 md:ml-10 md:mt-48  ct:mt-44 lg:mt-72"
              >
                <p
                  class="md:text-3xl ct:text-4xl lg:text-5xl text-primary-universal font-semibold italic uppercase font-roboto"
                >
                  {{ itemPost.description }}
                </p>
                <p class="text-white md:text-2xl ct:text-3xl lg:text-4xl font-roboto">
                  <span class="font-bold"> Item:</span>
                  {{ itemPost.item }}
                  <br />
                  <span class="font-bold"> Categoria:</span>
                  {{ itemPost.category }}
                  <br />
                  <span class="font-bold md:text-2xl ct:text-3xl lg:text-4xl font-roboto">
                    Precio:</span
                  >
                  <span class="bg-primary-universal md:text-3xl ct:text-4xl lg:text-4xl font-semibold">
                    {{ "$ " + itemPost.priceClient }}
                  </span>
                </p>

                <!-- ICONOS REDES -->
                <div
                  class="grid md:mt-16 md:grid-cols-8 ct:grid-cols-3 lg:grid-cols-3 gap-0"
                >
                  <a
                    class=""
                    href="https://www.instagram.com/distriuniversal_/?hl=es"
                    target="_blank"
                  >
                    <i
                      class="md:text-2xl text-center ct:text-4xl lg:text-6xl text-primary-universal pi pi-instagram"
                    >
                      <p class="md:text-xs text-base text-white">
                        <!-- @distriuniversal_ -->
                      </p>
                    </i>
                  </a>
                  <a
                    class=""
                    href="https://www.facebook.com/distribuidorauniversalcali/?locale=es_LA"
                    target="_blank"
                  >
                    <i
                      class="md:text-2xl text-center ct:text-4xl lg:text-6xl text-primary-universal pi pi-facebook"
                    >
                      <p class="md:text-xs lg:text-base text-white">
                        <!-- @distribuidorauniversalcali -->
                      </p>
                    </i>
                  </a>
                  <a
                    class=""
                    href="https://api.whatsapp.com/send?phone=573217798798&text=Hola"
                    target="_blank"
                  >
                    <i
                      class="md:text-2xl text-center ct:text-4xl lg:text-6xl text-primary-universal pi pi-whatsapp"
                    >
                      <span class="md:text-lg md:ml-2 ct:text-sm text-base text-white sm:hidden"
                        >3217798798</span
                      >
                      <!-- <p class="ct:block md:text-xs text-base text-white">
                        3217798798
                      </p> -->
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>

          <!-- <ng-template pTemplate="footer">
          <p class="text-gray-50 font-extralight">Papeleria Universal</p>
        </ng-template> -->
        </p-carousel>
        <ng-template #spinner>
          <div class="card grid text-center">
            <p class="sm:pt-0 mt-64 font-roboto text-primary-universal font-bold text-4xl">No hay post</p>
            <div class="card">
              <p-progressSpinner
                styleClass="w-1rem h-1rem"
                strokeWidth="20"
                fill="var(--surface-ground)"
                animationDuration=".5s"
              ></p-progressSpinner>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</body>
