span {
  text-shadow: 0 0 0.2em#ffffff, 0 0 0.2em#ffffff;
}

.imagen {
  padding-left: 20%;
  width: 380px;
  height: 40px;
}

.dav {
  border-width: 10px;
  opacity: 1;
  border-color: #fabc0b;
}

/* .item {
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
} */
