<body>
  <div
    class="h-screen w-screen bg-no-repeat bg-cover bg-top bg-fixed overflow-hidden"
    style="background-image: url('./../../../assets/banner/fondo.jpg')"
  >
    <!-- LOGO -->
    <!-- <div class="grid grid-cols-1"></div> -->

    <video class="lg:w-full lg:h-full" loop width="962" height="541" controls>
      <source
        src="../../../../../assets/video/promocion.mp4"
        type="video/mp4"
      />
    </video>

    <!-- <div class="grid grid-cols-1 relative w-full top-0"></div> -->
  </div>
</body>
  