<p>upload works!</p>

<div class="grid grid-cols-6">
  <div class="col-start-2 col-span-4">
    <h1 class="text-center">Cargar Archivos</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
      debitis, id molestiae dicta quam soluta ab praesentium cumque ea unde
      officia corrupti excepturi deleniti distinctio! Voluptas incidunt
      asperiores rem omnis.
    </p>
  </div>
  <div class="col-start-2 col-span-4">
    <p-toast></p-toast>
    <i class="pi pi-file"> </i>
    <input
      type="file"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      name=""
      id=""
      (change)="getFile($event)"
    />

    <div>
      <button
        (click)="onCargar()"
        class="bg-lime-500 hover:bg-lime-700 text-white font-bold my-10 py-2 px-4 rounded"
        [disabled]="flag"
      >
        Cargar
      </button>
    </div>
  </div>
</div>
