<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a [routerLink]="['/asesor']">
        <img src="/assets/banner/logo.png" class="w-24" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button
        pTooltip="Iniciar sesion"
        (onClick)="onLogin()"
        icon="pi pi-user"
        styleClass="p-button-rounded p-button-info p-button-outlined"
      ></p-button>
      <!-- <span class="material-icons">gesture</span> -->
      <!-- <input type="text" pInputText placeholder="Buscar" class="w-full" /> -->
    </ng-template>
  </p-menubar>
</div>
<router-outlet />
