/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/vela-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

/* p,
label {
  color: var(--text-secondary-color);
} */

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  margin-top: 5px;
  background-color: white;
  width: 8px;
  height: 8px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  color: white;
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next :hover {
  color: white;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #fabc13;
}

@media (min-width: 1400px) {
  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    margin-top: 5rem;
    background-color: white;
    width: 25px;
    height: 25px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
  }
  
} 